<footer class="footer_area section_padding_130_0" [dir]="'direction' | translate">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-footer-widget section_padding_0_130">
          <div class="footer-logo mb-3"></div>
          <div class="copywrite-text mb-5">
            <p class="mb-0">{{ 'FOOTER.COPYRIGHT' | translate }}</p>
          </div>
          <div class="footer_social_area">
            <a
              href="#"
              data-toggle="tooltip"
              data-placement="top"
              title="{{ 'FOOTER.SOCIAL_MEDIA.FACEBOOK' | translate }}"
              ><i class="fa fa-facebook"></i></a
            ><a
              href="#"
              data-toggle="tooltip"
              data-placement="top"
              title="{{ 'FOOTER.SOCIAL_MEDIA.PINTEREST' | translate }}"
              ><i class="fa fa-pinterest"></i></a
            ><a
              href="#"
              data-toggle="tooltip"
              data-placement="top"
              title="{{ 'FOOTER.SOCIAL_MEDIA.SKYPE' | translate }}"
              ><i class="fa fa-skype"></i></a
            ><a
              href="#"
              data-toggle="tooltip"
              data-placement="top"
              title="{{ 'FOOTER.SOCIAL_MEDIA.TWITTER' | translate }}"
              ><i class="fa fa-twitter"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <h5 class="widget-title">{{ 'FOOTER.ABOUT.TITLE' | translate }}</h5>
          <div class="footer_menu">
            <ul>
              <li>
                <a href="#">{{ 'FOOTER.ABOUT.ABOUT_US' | translate }}</a>
              </li>
              <li>
                <a href="#">{{ 'FOOTER.ABOUT.CORPORATE_SALE' | translate }}</a>
              </li>
              <li>
                <a href="#">{{ 'FOOTER.ABOUT.TERMS_POLICY' | translate }}</a>
              </li>
              <li>
                <a href="#">{{ 'FOOTER.ABOUT.COMMUNITY' | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <h5 class="widget-title">{{ 'FOOTER.SUPPORT.TITLE' | translate }}</h5>
          <div class="footer_menu">
            <ul>
              <li>
                <a href="#">{{ 'FOOTER.SUPPORT.HELP' | translate }}</a>
              </li>
              <li>
                <a href="#">{{ 'FOOTER.SUPPORT.SUPPORT' | translate }}</a>
              </li>
              <li>
                <a href="#">{{ 'FOOTER.SUPPORT.PRIVACY_POLICY' | translate }}</a>
              </li>
              <li>
                <a href="#">{{ 'FOOTER.SUPPORT.TERMS_CONDITIONS' | translate }}</a>
              </li>
              <li>
                <a href="#">{{ 'FOOTER.SUPPORT.HELP_SUPPORT' | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <h5 class="widget-title">{{ 'FOOTER.CONTACT.TITLE' | translate }}</h5>
          <div class="footer_menu">
            <ul>
              <li>
                <a href="#">{{ 'FOOTER.CONTACT.CALL_CENTRE' | translate }}</a>
              </li>
              <li>
                <a href="#">{{ 'FOOTER.CONTACT.EMAIL_US' | translate }}</a>
              </li>
              <li>
                <a href="#">{{ 'FOOTER.CONTACT.TERMS_CONDITIONS' | translate }}</a>
              </li>
              <li>
                <a href="#">{{ 'FOOTER.CONTACT.HELP_CENTER' | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
