<div [dir]="'direction' | translate">
  <h2>{{'AddEmployee.EmployeeInformation' | translate}}</h2>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <input type="text" name="name" id="name" formControlName="name" required placeholder="{{'Name' | translate}}" />
    <div *ngIf="name.invalid && (name?.dirty || name?.touched)" class="h-25">
      <div class="alert alert-danger" *ngIf="name?.errors?.['required']">{{'AddEmployee.NameValidations.Required' | translate}}</div>
      <div class="alert alert-danger" *ngIf="name?.errors?.['pattern']">{{'AddEmployee.NameValidations.Alphabetic' | translate}}</div>
    </div>
    <input type="text" id="age" formControlName="age" required placeholder="{{'Age' | translate}}" />
    <div *ngIf="age.invalid && (age.dirty || age.touched)" class="h-25">
      <div class="alert alert-danger" *ngIf="age.errors?.['required']">{{'AddEmployee.AgeValidations.Required' | translate}}</div>
      <div class="alert alert-danger" *ngIf="age?.errors?.['min'] || age?.errors?.['max']">
        {{'AddEmployee.AgeValidations.Range' | translate}}
      </div>
    </div>
    <input type="text" id="nationalId" formControlName="nationalId" required placeholder="{{'NationalID' | translate}}" />
    <div *ngIf="nationalId.invalid && (nationalId.dirty || nationalId.touched)" class="h-25">
      <div class="alert alert-danger" *ngIf="nationalId.errors?.['required']">{{'AddEmployee.NationalIdValidations.Required' | translate}}</div>
      <div
        class="alert alert-danger"
        *ngIf="
          nationalId?.errors?.['pattern'] || nationalId?.errors?.['minlength'] || nationalId?.errors?.['maxlength']
        "
      >
      {{'AddEmployee.NationalIdValidations.NumberOfDigits' | translate}}
      </div>
    </div>
    <input type="text" id="phone" formControlName="phone" required placeholder="{{'Phone' | translate}}" />
    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="h-25">
      <div
        class="alert alert-danger"
        *ngIf="phone?.errors?.['pattern'] || phone?.errors?.['minlength'] || phone?.errors?.['maxlength']"
      >
        {{'AddEmployee.PhoneValidations.NumberOfDigits' | translate}}
      </div>
    </div>
    <input type="text" id="mobileNumber" formControlName="mobileNumber" required placeholder="{{'MobileNumber' | translate}}" />
    <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)" class="h-25">
      <div
        class="alert alert-danger"
        *ngIf="
          mobileNumber?.errors?.['pattern'] ||
          mobileNumber?.errors?.['minlength'] ||
          mobileNumber?.errors?.['maxlength']
        "
      >
        {{'AddEmployee.MobileNumberValidations.NumberOfDigits' | translate}}
      </div>
    </div>
    <input type="text" id="position" formControlName="position" required placeholder="{{'Position' | translate}}" />
    <div *ngIf="position.invalid && (position.dirty || position.touched)" class="h-25">
      <div class="alert alert-danger" *ngIf="position.errors?.['required']">{{'AddEmployee.PositionValidations.Required' | translate}}</div>
    </div>
    <div *ngIf="departments">
      <select formControlName="departmentId" class="form-select">
        <option value="0" selected>{{'AddEmployee.ChooseDepartment' | translate}}</option>
        <option *ngFor="let dept of departments" [ngValue]="dept.departmentId">
          {{ dept.departmentName }}
        </option>
      </select>
      <div
        *ngIf="
          form.controls.departmentId.invalid && (form.controls.departmentId.dirty || form.controls.departmentId.touched)
        "
        class="h-25"
      >
        <div
          class="alert alert-danger"
          *ngIf="form.controls.departmentId.errors?.['required'] || form.controls.departmentId?.errors?.['min']"
        >
          {{'AddEmployee.DepartmentValidations.Required' | translate}}
        </div>
      </div>
    </div>
    <div style="display: flex; align-items: center; gap: 25px; justify-content: space-between;">
      <div>
        <mat-form-field>
          <mat-label>{{'HiringDate' | translate}}</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="hiringDate" required />
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-slide-toggle formControlName="isActive" color="primary">{{'AddEmployee.Active' | translate}}</mat-slide-toggle>
    </div>

    <button type="submit" [disabled]="!form.valid">{{'AddEmployee.Submit' | translate}}</button>
  </form>
</div>
